* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: white;
}

.container {
    width: 480px;
    margin: auto;
    border: 1px solid #dddcdd;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(39, 35, 35, 0.43);
}

header {
    background-color: #008cee;
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
}

header h2 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-list {
    background-color: white;
    height: 400px;
    padding: 10px;
    list-style: none;
    font-size: 16px;
}

.message-list__item-robot,
.message-list__item-user {
    margin-bottom: 10px;
    display: flex;
}

.message-list__item-user {
    flex-direction: row-reverse;
}

.message-list__item-robot div,
.message-list__item-user div {
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 8px;
    padding: 7px 10px;
    max-width: 200px;
}

.message-list__item-robot div {
    background-color: #dddcdd;
}

.message-list__item-user div {
    background-color: #008cee;
    color: white;
}

.send-message {
    border-top: 1px solid #dddcdd;
    display: flex;
    height: 100px;
  }
  
  .send-message textarea {
    outline: none;
    padding: 6px;
    line-height: 20px;
    flex-grow: 1;
    border: none;
    border-bottom-left-radius: 3px;
    font-size: 16px;
  }
  
  .send-message button {
    cursor: pointer;
    width: 40px;
    border: none;
    outline: none;
    background-color: #008cee;
    color: white;
    border-bottom-right-radius: 3px;
  }


